doctype html
head
  link(rel="stylesheet" href="./css/sprite.css")
  link(rel="stylesheet" href="./css/style.css")
body
  h1 hw
  script(src="./js/plugins.js")
  script(src="./js/script.js")
  
  .sprite-octcat
  .sprite-octcat
  .sprite-twitbird
  .sprite-hub
  img(src="./img/01.jpg")
